 {{#each Rides}}
	<ul>
	<li><h5 class="show" <a href=#{{area_id}}{{id}} data-toggle="collapse"</a>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p class="des" id="{{area_id}}{{id}}"class="collapse">{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
 {{#each Restaurants}}
	<ul>
	<li><h5 class="show" <a href=#{{area_id}}{{id}} data-toggle="collapse"</a>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p class="des" id="{{area_id}}{{id}}">{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
 {{#each Shows}}
	<ul>
	<li><h5 class="show" <a href=#{{area_id}}{{id}} data-toggle="collapse"</a>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p class="des" id="{{area_id}}{{id}}">{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
 {{#each Vendors}}
	<ul>
	<li><h5 class="show" <a href=#{{area_id}}{{id}} data-toggle="collapse"</a>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p class="des" id="{{area_id}}{{id}}">{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
