 {{#each Rides}}
	<ul>
	<li><h5 class="show">{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p class="des">{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
 {{#each Restaurants}}
	<ul>
	<li><h5>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p>{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
 {{#each Shows}}
	<ul>
	<li><h5>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p>{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
 {{#each Vendors}}
	<ul>
	<li><h5>{{name}}<span><button type="button" class="btn btn-info">add</button></span></h5></li>
	<li><p>{{description}}</p></li>
	</ul>
{{/each}}
{{break}}
