{{!-- {{#each fantasyData}} --}}

{{!-- <ul id={{area_id}}{{type_id}}> --}}
	{{!-- <li> --}}
		<h2>{{name}}</h2>
{{!-- 			{{#if timekey}} --}}
				<p>{{description}}</p>
{{!-- 			{{/if}} --}}
		{{!-- modal with description on click <p>{{description}}</p> --}}
	{{!-- </li> --}}
{{!-- </ul> --}}

{{!-- {{/each}} --}}

