{{#each attraction}}

<ul id={{area_id}}{{type_id}}>
	<li>
		<h2>{{name}}</h2>
			{{#if timekey}}
				<h3>{{time}}</h3>
			{{/if}}
		{{!-- modal with description on click <p>{{description}}</p> --}}
	</li>
</ul>

{{/each}}

